.card{
    width: 20rem;
    margin-top: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: gray;
}
.cardLink{
    display: flex;
    justify-content: center;
}
 .image {
     width: 200px;
     height: 200px;
 }